@{
    ViewData["Title"] = Model.Title;
}
@model GameOracle.ViewModels.HomeViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to GameOracle</h1>
    <p>Spend more time playing games.</p>
</div>

