@{
    ViewData["Title"] = Model.Title;
}
@model GameOracle.ViewModels.GamesViewModel

<div class="text-center">
    <h1 class="display-4">Your Games</h1>
</div>
<div>
    @foreach (var game in Model.Games)
    {
        <h3>
            <a asp-controller="Games" asp-action="Details" asp-route-id="@game.Id">@game.Name</a>
        </h3>
        <h2>@game.Id</h2>
    }
</div>