
@{
    ViewData["Title"] = "TestAPIAsync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BoardGamer.BoardGameGeek.BoardGameGeekXmlApi2.ThingResponse.Item

<h1>TestAPIAsync</h1>
<div>
    <div>The test game name is @Model.Name</div>
</div>

